#nav-section {
    display: flex;
    justify-content: space-between;
  }
  
  nav ul {
    display: block;
    justify-content: space-between;
  }
  
  nav li {
    list-style: none;
  }
  
  nav a {
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  
  @media (min-width: 1024px) {
    nav li {
      padding: 0px 20px;
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
}