@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
  font-family: 'Karla', sans-serif;
}

section {
  padding: 10px 10% 5px 10%; 
  align-items: center; 
}

h1 {
  font-size: 40px;
}

.yellow-button {
  background-color: #F4CE14;
  font-size: 25px;
  font-weight: bold;
  color: black;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 20px 0px;
  height: 30px;
}

@media (min-width: 1024px) {
  /* Styles for desktop devices */
  section {
    padding: 20px 15% 10px 15%;  
  }

}


